p {
  color: white;
  border: 1px solid rgb(255, 132, 0);
  padding-top: 70px;

  width: 100px;
  height: 30px;
  background-color: orange;
  text-align: center;
  font-weight: bold;
}
div {
  border: 1px solid black;
  margin: auto;
  width: 100px;
  padding: 10%;
}

