section {
  border: 2px dotted;
  Width: fit-content;
  height: 100px;
  margin-bottom: 50px;
  position: relative;
  
}
div {
  display: inline;
  border: 1px solid;
  padding-bottom: 82px;
  padding-right: 50px;
  background-color: red;
}
p {
  display: inline;
}
.static {
  background-color: green;
  position: static;
}
.relative {
  background-color: green;
  position: relative;
  left: 30px;
  top: 20px;
}
.absolute {
  background-color: green;
  position: absolute;
  left: 20px;
  top: 7px;
}
