span.bold{
    font-weight: bold;
}
span.green{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}
 
span.blue{
color: blue;
padding: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight:bold;
}
